@import 'allStyleFile/configStyle.scss';

.main-add{
  padding: 3rem 0;
  margin-top:5rem;
  background-color: #08242C;
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  .container {
    width: 90%;
    margin:0 auto;
    .content {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      padding:2rem 0;
      h1{
        text-align: left;
        margin-bottom: 1rem;
        font-size:4rem;
        color:white;
        span{
          color:#E5F92C
        }
      }
      .input {
        margin-top: 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        input {
          margin: auto;
          width: 80%;
          padding: 0.7rem 1rem;
          font-size: 1.2rem;
          background-color: $secondary;
          color: white;
          border: none;
          &:focus {
            outline: none;
          }
          ::placeholder {
            color: white;
            font-family: "Dosis", sans-serif;
            font-weight: 700;
            letter-spacing: 2px;
            word-spacing: 3px;
          }
        }
      }
      ul {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        margin-top: 5rem;
        gap: 2rem;
        li {
          max-height: 600px;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: column;
          padding: 1rem;
          border-radius: 6px;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
          .img {
            border-radius: 6px;
            overflow: hidden;
            cursor: pointer;
            margin:0 auto;
            img {
              border-radius: 6px;
              width: 100%;
            }
          }
          .text {
            width: 100%;
            padding:.8rem 0;
            .title {
              font-size: 1.2rem;
              font-weight: bold;
              color:white;
            }
            span {
              font-weight: bold;
              color:#E5F92C;
            }
            .buttons {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 0.6rem;
              margin: 1.5rem 0;
              button {
                cursor: pointer;
                padding: 0.5rem;
                border: none;
                outline: none;
                background-color: $secondary;
                color: #E5F92C;
                border-radius: 6px;
                font-size: .8rem;
                transition: $transition;
                &:hover {
                  background-color: white;
                }
                &:disabled {
                  background-color: #00000037;
                  color: #777;
                  cursor: no-drop;
                }
              }
            }
          }
        }
      }
    }
  }
}