@import 'allStyleFile/configStyle.scss';

.head{
  text-transform: uppercase;
  font-size:2.9rem;
  width:100%;
  margin:0 auto;
  text-align: center;
  font-weight:700;
  letter-spacing:.06em;
  color:#120C0C;
  font-family: Montserrat, sans-serif;
  margin-bottom:2rem;
}