@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;600;800&family=Lato:wght@100;300;400;700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,700&family=Raleway:wght@100;200;300;500;600;700;800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;0,900;1,400&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
::-webkit-scrollbar{
  width:.8rem;
  background-color: #dbd7d7;
}
::-webkit-scrollbar-thumb{
  background-color: #3b55e6;
  border-radius: .8rem;

}
ul{
  list-style: none;
  padding:0;
  margin:0;
}
a{
  text-decoration: none;
}
